<div>Admin</div>
<aside class="sidebar">
  
  <div class="sidebar-top">
    <div class="sidebar-college"> 
      <div class="college-name">{{ collegeName }}</div>
   </div>
  </div>
 <nav class="sidebar-nav">
    <ul>
       <!-- <div class="sub">Admin</div> -->
      <li><a routerLink="/dwnld-reg-form">Download Registration Form</a></li>
      <li><a routerLink="/registration-payment">Registration Payment</a></li>

      <!-- Add more module links here -->
      <li><a routerLink="/register-regular-students">Register Regular Students</a></li>
      <li><a routerLink="/register-private-students">Register Private Students</a></li>
      <li><a routerLink="/seat-matrix">Seat Matrix</a></li>
    </ul>
  </nav>
</aside>
